---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="container col-md-6 col-sm-10 mt-5" style="min-height: 52vh;" x-data="{ open: false }">
         
        <ul class="list-group list-group-flush pt-5">

			<!-- Random advice from advList waiting to be shown here  -->
			<li x-show="open" class="list-group-item text-center" x-transition>
				<b>Bugün;</b>
				<p x-text="$store.veriler.randomAdv"></p>
			</li>	
		
			<!-- If  button is clicked > random advice is shown and the button is disabled  -->
			<button class="btn btn-success d-block mt-3" :disabled="open ? true : false" x-on:click="open = !open">Tavsiye Ver</button>
        </ul>

		<!-- If on above button is clicked > this information message is shown -->
		<small :class="open ? 'd-block' : 'd-none'" class="text-secondary fw-normal">*Her yenilemede bir adet tavsiye alabilirsiniz</small>
    </main>

</Layout>


<script>
    document.addEventListener("alpine:init", () => {

		let Alpine = window["Alpine"];

		
		async function randomAdv() {
			let randomNumber;
			let url = "https://raw.githubusercontent.com/sonatipek/dogadan-tea-advices/main/api/advices.json";


			// fetch the advList data
			try {
				let res = await fetch(url);
				let result = await res.json();
				result = result.advList;

				
				randomNumber = Math.floor(Math.random() * (result.length));	// Created random number for random advice
				
				
				return result[randomNumber]; //Return random advice
			}catch (err) {
				console.log(err);
			}

		}

   
      
		//---------------------------------------------
		Alpine.store("veriler", {
			init() {
				console.log(Alpine.store("globalvar").text);
			},
				randomAdv,
			});
		});
</script>