---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<main class="container col-6 mt-5">

          
        <ul id="daily-adv" class="list-group list-group-flush h-100 pt-5">
		
          <a href="#" class="btn btn-success col-4 mt-3" id="random-adv">Günlük Tavsiyemi Ver</a>
        </ul>
    </main>
</Layout>


<script>
	const randomAdv = document.querySelector('#random-adv');
	const dailyAdv = document.querySelector('#daily-adv');

	// Kullanılmayanlar
	// const advList = document.querySelector('#adv-list');
	// const addForm = document.forms[0];
	// const addInput = document.getElementById('floatingInput');

	// Advice List
	// https://raw.githubusercontent.com/sonatipek/dogadan-tea-advices/main/api/advices.json

	// Random Advice
	randomAdv.addEventListener('click', (e) => {
		e.preventDefault()
		let randomNumber = Math.floor(Math.random() * (dogadanTavsiyeler.length));

		let listElement = document.createElement("li")
		listElement.className = "list-group-item list-group-item-success"
		listElement.textContent = `Bugün; \t${dogadanTavsiyeler[randomNumber]}`
		dailyAdv.insertBefore(listElement, dailyAdv.firstChild);    
	})



</script>