---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <main class="container col-6">
        
        <div class="mt-2 p-5">
			

			<h1>Tavsiye Listesine Göz At</h1>

			<!-- data listing with Alpine.js -->
            <ul class="list-group" id="adv-list" x-data>
				<template x-for="advice in $store.veriler.advList">
					<li class="list-group-item">
						<span class="badge bg-success me-3">#biriyilikyapkendine</span>
						<span x-text="advice"></span>
					</li>
				</template>
            </ul>
		</div>

    </main>
</Layout>

<script>
    document.addEventListener("alpine:init", () => {

      let Alpine = window["Alpine"];

      async function advList() {
        let url = "https://raw.githubusercontent.com/sonatipek/dogadan-tea-advices/main/api/advices.json";
        try {

          let res = await fetch(url);
          let result = await res.json();

          result = result.advList;
          
          return result;
        } catch (err) {
          console.log(err);
        }
    
      }

   
      //---------------------------------------------
      Alpine.store("veriler", {
        init() {
          console.log(Alpine.store("globalvar").text);
        },
          advList,
        });
      });
</script>