---
import Layout from '../layouts/Layout.astro';

---
<Layout>

    <main class="container col-6" x-data="{infoDanger: false}">

        <form class="p-5 mt-5">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="floatingInput" placeholder="Doğadan tavsiye">
                <label for="floatingInput">Doğadan Tavsiye Giriniz</label>
              </div>
            
            <button x-on:click="infoDanger = true" type="submit" class="btn btn-success col-12" >Ekle</button>
        </form>
        <div x-show="infoDanger" class="text-center alert alert-danger alert-dismissible fade show" role="alert">
            Şimdilik dışarıdan doğadan tavsiyesi girilemiyor! 
            <br>
            Yardım etmek istiyorsan <a target="_blank" href="https://github.com/sonatipek/dogadan-tea-advices" class="alert-link">GitHub</a> üzerinden kodlara ekleme yapabilirsin.
        </div>
    </main>
</Layout>