---

---


  <div class="shadow mt-5" >
    <footer class="container">
      <div class="row">
        
        <div class="d-flex flex-wrap justify-content-between align-items-center pt-3 mt-2">
            <a href="/" class="navbar-brand fs-5 fw-bold col-md-4 mb-0 text-success ">dogadan</a>
        
            <a href="https://sonatipek.com" target="_blank" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-success fw-bold text-decoration-none">
              <img src="/sonatipek-brand-logo.svg" alt="sonatipek.com logosu">
            </a>
        
            <ul class="nav col-md-4 justify-content-end">
              <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Ana Sayfa</a></li>
              <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Rastgele Tavsiye</a></li>
              <li class="nav-item"><a href="/tavsiyelistesi" class="nav-link px-2 text-body-secondary">Tavsiye Listesi</a></li>
              <li class="nav-item"><a href="/tavsiyegiris" class="nav-link px-2 text-body-secondary">Tavsiye Girişi</a></li>
      
            </ul>
          </div>
        
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>&copy; Sonat Saygın İpek</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-body-emphasis" target="_blank" href="https://github.com/sonatipek"><i class="fa-brands fa-github fs-3"></i></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" target="_blank" href="https://linkedin.com/in/sonatipek"><i class="fa-brands fa-linkedin-in fs-3"></i></a></li>
          <li class="ms-3"><a class="link-body-emphasis" target="_blank" href="https://instagram.com/sonatipek"><i class="fa-brands fa-instagram fs-3"></i></svg></a></li>
        </ul>
      </div>
    </footer>
  </div>